
.grade2{
    background-image: linear-gradient(to bottom, #071929 , #0b3326);
    
  }
 .panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
 }
  
  
  .bottomDiv{
    position:relative;
    bottom:150px;
    left:150px;
  }
  
  .divider{
    border-top: 1px solid grey;
    border-radius: 10px;
    width: 54%;
    position:relative;
    left:22%;
  
  }
 
  .circle-image{
    width: 35%;
    height: fit-content;
    border: 4px solid  #14c048;
    border-radius: 50%;
    overflow: hidden;
    padding: 25px;
  }
  
    .scrollbar {
      float: left;
      background: rgba(255, 255, 255, 0.534); 
      overflow-y: scroll;
      overflow-x: hidden;
      margin-bottom: 25px;
      border-top: 2px solid #c7e6ae;
      
     
      }
  
    .scrollbar-primary {
    scrollbar-color: rgb(168, 170, 165) rgb(245, 247, 246);
    }

  .list{
    background-color: transparent;
    border: none;
  }
  
  
  
  @media only screen and (min-width: 500px){
    .card-shadow{
      width:75%;
      height:22px;
      border-radius: 50%;
      border: transparent;
      filter: blur(3px);
      align-items: center;
      background-color: rgb(116, 150, 148);
      margin: 4px;
    }
  }
  
  @media only screen and (min-width: 1600px) and (min-height: 1050px){
    .backg{  
      height:calc(100vh - 100px);
      min-width: calc(100vw - 150px);
      background-color: transparent; 
      box-shadow: 0 1px 8px rgb(173, 171, 173);
      position:relative;
      top: 12vh;
      
   
}
}

